@import "tailwindcss";

@theme {
  --color-dark-purple: #24053E;
  --color-davy-grey: #584D62;
  --color-eucalyptus: #44FFA1;
  --color-ghost-white: #FCF8FF;
  --color-white: #FFFFFF;
  --font-heading: var(--font-fraunces); 
  --font-body: var(--font-manrope);
  
}

body {
  background: #FFFFFF;
  color: #24053E;
  font-family: var(--font-manrope);
}

.hero-curve{
  border-bottom-left-radius: 50% 160px;
  border-bottom-right-radius: 50% 160px;
}